[submodule "spring_config_repo"]
	path = spring_config_repo
	url = https://github.com/llsilvas/spring_config_repo
[submodule "docker"]
	path = docker
	url = https://github.com/llsilvas/docker.git
[submodule "spring-config-server"]
	path = spring-config-server
	url = https://github.com/llsilvas/spring-config-server.git
